$blanco: #ffffff;
$letras_negras: rgba(14, 17, 51, 1);
$fuente_principal: "Roboto", sans-serif;
$fuente_secundaria: "Rubik", sans-serif;
$fuente_codigo: "Iosevka Charon", monospace;
$plomo:rgba(80, 80, 86, 1);